#test-only {
    color: limegreen;
}

#missile-alert-section {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.real-alert-section {
    background-color: darkred;
}
.test-alert-section {
    background-color: darkgreen;
}

#real-alert {
    color: red;
    font-weight: bold;
}

.account-link {
    border: 1px black solid;
}
.Warning.message {
    color: darkmagenta;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
}

.disabled {
      pointer-events: none;
      opacity: 0.45;
      cursor: not-allowed;
      text-decoration: none;
    }

.confirm-row { margin: 12px 0 16px;}